<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0">Listado de Tickets</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<a href="#" data-toggle="modal" data-target="#ticketModal" class="btn btn-primary btn-icon-split mb-4">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Nuevo Ticket</span>
</a>

<a class="btn btn-primary btn-icon-split mb-4" onclick="Imprimir()">
    <span class="icon text-white-50">
        <i class="fas fa-print"></i>
    </span>
    <span class="text">Generar Informe PDF</span>

</a>

<div class="row">
    <div class="col-md-4 mb-2">
        <label class="control-label">Categoría</label>
        <select class="form-control form-control-sm" id="CategoriaIDBuscar"></select>
    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTicketLabel"></h5>
                <button class="close" onclick="limpiarFormulario()" type="button" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ticketId" disabled placeholder="0">
                <div class="mb-2">
                    <label class="control-label">Título</label>
                    <input class="form-control form-control-sm" type="text" id="ticketTitulo"
                        placeholder="Título del ticket">
                </div>
                <div class="mb-2">
                    <label class="control-label">Descripción</label>
                    <textarea class="form-control form-control-sm" type="text" id="ticketDescripcion"
                        placeholder="Descripción del ticket"></textarea>
                </div>
                <div class="mb-2">
                    <label class="control-label">Prioridad</label>
                    <select class="form-control form-control-sm" id="ticketPrioridad">
                        <option value="1">Baja</option>
                        <option value="2">Media</option>
                        <option value="3">Alta</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="control-label">Categoría</label>
                    <select class="form-control form-control-sm" id="ticketCategoriaID"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" onclick="limpiarFormulario()"
                    data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" onclick="guardarTicket()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="historialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial de Cambios</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-sm" id="tablaHistorial" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 150px;">Fecha</th>
                            <th style="width: 150px;">Campo Modificado</th>
                            <th>Valor Anterior</th>
                            <th>Valor Nuevo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-sm" id="tablaTickets" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center" style="width: 150px;">Fecha Alta</th>
                <th>Título</th>
                <th>Categoría</th>
                <th class="text-center" style="width: 100px;">Prioridad</th>
                <th class="text-center" style="width: 100px;">Estado</th>
                <th style="width: 110px;" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="../js/fetch/tickets.js"></script>